@model EntityLayer.Concrete.AdminLogin

@{
    ViewData["Title"] = "EditLogin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Admin düzenle</h1>
<br />

@using (Html.BeginForm("EditLogin", "AdminLogins", FormMethod.Post))
{
    @Html.HiddenFor(x => x.LoginID)
    @Html.Label("Kullanıcı adı")
    @Html.TextBoxFor(x => x.LoginName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.LoginName)
    <br />
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.LoginPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.LoginPassword)
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>
}

