@model EntityLayer.Concrete.Banner

@{
    ViewData["Title"] = "EditSlider";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Slider düzenle</h1>
<br />

@using (Html.BeginForm("EditSlider", "AdminSlider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.BannerId)
    @Html.Hidden("Path", (string)ViewBag.Path)
    @Html.Label("Resim")
    <br />
    <img src="@ViewBag.BannerImage" width="400" height="200" />
    <br />
    <br />
    <input type="file" name="BannerImage" />
    <br />
    @Html.ValidationMessageFor(x => x.BannerImage)
    <br />
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryId)
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>
}

