@model Ozpa.Models.AddSliderImage
@{
    ViewData["Title"] = "SliderAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Slider ekle</h1>
<br />

@using (Html.BeginForm("SliderAdd", "AdminSlider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<form method="post" enctype="multipart/form-data">
    @Html.Label("Slider")
    <br />
    <input type="file" name="BannerImage"/>
    <br />
    @Html.ValidationMessageFor(x => x.BannerImage)
    <br />
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryId)
    <br />
    <br />
    <button class="btn btn-info" type="submit">Kaydet</button>
</form>
}

