@model EntityLayer.Concrete.Contact

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!doctype html>
<html class="no-js" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<body class="template-color-5 font-family-02">

    <div class="main-wrapper wrapper-boxed_layout">


        <div class="col-12  mt-5">
            <div class="section-title">
                <h3 class="heading">İletişim</h3>
            </div>
        </div>
        <!-- Begin Contact Main Page Area -->
        <div class="contact-main-page ptb-100">
            <div class="google-map_area d-inline-block d-lg-none">
                <div class="container-fluid text-center">
                    @*<div id="google-map"></div>*@
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.157330382162!2d28.81523091541583!3d41.06555347929511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc16460525ef6573f!2zNDHCsDAzJzU2LjAiTiAyOMKwNDknMDIuNyJF!5e0!3m2!1str!2str!4v1658240257186!5m2!1str!2str" width="325" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="google-map_area d-none d-lg-block">
                <div class="container-fluid text-center">
                    @*<div id="google-map"></div>*@
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.157330382162!2d28.81523091541583!3d41.06555347929511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc16460525ef6573f!2zNDHCsDAzJzU2LjAiTiAyOMKwNDknMDIuNyJF!5e0!3m2!1str!2str!4v1658240257186!5m2!1str!2str" width="1200" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-page-side-content">
                            <h3 class="contact-page-title text-center">İletişim</h3>
                            <p class="contact-page-message">
                                <h4>Özpa Kozmetik Teks. İnş. San. ve Dış Tic. Ltd. Şti.</h4>
                            </p>
                            <div class="single-contact-block">
                                <h4><i class="fa fa-fax"></i> Adres</h4>
                                <p>Mahmutbey Mah. İstoç Ticaret Merkezi 33. Ada No:64 Bağcılar / İSTANBUL - TÜRKİYE</p>
                            </div>
                            <div class="single-contact-block">
                                <h4><i class="fa fa-phone"></i> Telefon</h4>
                                <p>Tel: +90 212 659 02 27</p>
                                <p>Fax: +90 212 659 05 27</p>
                            </div>
                            <div class="single-contact-block last-child">
                                <h4><i class="fa fa-envelope"></i>Email</h4>
                                <p>info@ozpakozmetik.com </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-form-content">
                            <h3 class="contact-page-title">Bizimle İletişime Geçin</h3>
                            <div class="contact-form">
                                @using (Html.BeginForm("ContactIndex", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <form ction="https://whizthemes.com/mail-php/mamunur/quicky/quicky.php" id="contact-form" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>İsim <span class="required">*</span></label>
                                            @Html.TextBoxFor(x => x.ContactName)
                                            @Html.ValidationMessageFor(x => x.ContactName)
                                        </div>
                                        <div class="form-group">
                                            <label>Email <span class="required">*</span></label>
                                            @Html.TextBoxFor(x => x.ContactEMail)
                                            @Html.ValidationMessageFor(x => x.ContactEMail)
                                        </div>
                                        <div class="form-group">
                                            <label>Konu<span class="required">*</span></label>
                                            @Html.TextBoxFor(x => x.ContactSubject)
                                            @Html.ValidationMessageFor(x => x.ContactSubject)
                                        </div>
                                        <div class="form-group form-group-2">
                                            <label>Mesaj<span class="required">*</span></label>
                                            @Html.TextAreaFor(x => x.ContactMessage, 10, 5, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.ContactMessage)
                                        </div>
                                        <div class="form-group mb-0">
                                            <button type="submit" value="submit" id="submit" class="contact-form_btn" name="submit">Gönder</button>
                                        </div>
                                        <p class="form-messege mt-3 mb-0"></p>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Contact Main Page Area End Here -->
        <!-- Scroll To Top Start -->
        <a class="scroll-to-top" href=""><i class="icon-arrow-up"></i></a>
        <!-- Scroll To Top End -->

    </div>


    <!-- Begin Quicky's Google Map Area -->
    <script src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.22&amp;key=AIzaSyChs2QWiAhnzz0a4OEhzqCXwx_qA9ST_lE"></script>

    <script>
        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 16,
                scrollwheel: false,
                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(41.06563248869963, 28.81739205321787), // New York
                // How you would like to style the map.
                // This is where you would paste any style found on
                styles: [{
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#e9e9e9"
                    },
                    {
                        "lightness": 17
                    }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#f5f5f5"
                    },
                    {
                        "lightness": 20
                    }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 17
                    }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 29
                    },
                    {
                        "weight": 0.2
                    }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 18
                    }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 16
                    }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#f5f5f5"
                    },
                    {
                        "lightness": 21
                    }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#dedede"
                    },
                    {
                        "lightness": 21
                    }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "visibility": "on"
                    },
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 16
                    }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "saturation": 36
                    },
                    {
                        "color": "#333333"
                    },
                    {
                        "lightness": 40
                    }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#f2f2f2"
                    },
                    {
                        "lightness": 19
                    }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#fefefe"
                    },
                    {
                        "lightness": 20
                    }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#fefefe"
                    },
                    {
                        "lightness": 17
                    },
                    {
                        "weight": 1.2
                    }
                    ]
                }
                ]
            };
            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('google-map');
            // Create the Google Map using our element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);
            // Let's also add a marker while we're at it
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(41.06563248869963, 28.81739205321787),
                map: map,
                title: 'Kenne',
                animation: google.maps.Animation.BOUNCE
            });
        }

    </script>

</body>

</html>