@model Ozpa.Models.AddSeriesImage

@{
    ViewData["Title"] = "SeriesAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Seri ekle</h1>
<br />

@using (Html.BeginForm("SeriesAdd", "AdminSeries", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form method="post" enctype="multipart/form-data">
        @Html.Label("Seri resim")
        <br />
        <input type="file" name="SeriesImage" />
        <br />
        @Html.ValidationMessageFor(x => x.SeriesImage)
        <br />
        <br />
        @Html.Label("Seri ad")
        @Html.TextBoxFor(x => x.SeriesName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SeriesName)
        <br />
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryId)
        <br />
        <br />
        <button class="btn btn-info" type="submit">Kaydet</button>
    </form>
}

