@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategori düzenle</h1>
<br />

@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    @Html.Label("#")
    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" , @readonly = "readonly" })
    <br />
    <br />
    @Html.Label("Kategori adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    <br />
    @Html.Label("Parent id")
    @Html.TextBoxFor(x => x.CategoryParentId, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryParentId)
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>

}

