@using EntityLayer.Concrete
@model List<News>
@{
    ViewData["Title"] = "NewsIndex";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!doctype html>
<html class="no-js" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body class="template-color-5 font-family-02">
    <div class="main-wrapper wrapper-boxed_layout">
        <!-- Begin Main Content Area -->
        <div class="main-content_area">
            <div class="col-12 mt-5">
                <div class="section-title">
                    <h3 class="heading">Haberler & Duyurular</h3>
                </div>
            </div>
            <!-- Begin Banner With Text Area -->
            @foreach (var item in Model)
            {
                @if (item.NewsId % 2 == 1)
                {
                    <div class="banner-with_text overflow-hidden pt-160">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-lg-6 mt-2 mb-2">
                                    <div class="text-area">
                                        <h2 class="heading">@item.NewsTitle</h2>
                                        <p class="short-desc pearl-text_color">@item.NewsComment</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-2 mb-2">
                                    <div class="banner-area pt-md-90">
                                        <img class="w-100" src="@item.NewsImage" alt="Quicky's Banner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="banner-with_text banner-with_text-2 overflow-hidden pt-160 mb-5">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-lg-6 mt-2 mb-2">
                                    <div class="banner-area pt-md-90">
                                        <img class="w-100" src="@item.NewsImage" alt="Quicky's Banner">
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-2 mb-2">
                                    <div class="text-area pt-md-155">
                                        <h2 class="heading">@item.NewsTitle</h2>
                                        <p class="short-desc pearl-text_color">@item.NewsComment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <!-- Main Content Area End Here -->
    </div>
</body>
</html>