@model EntityLayer.Concrete.Brand

@{
    ViewData["Title"] = "EditBrand";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Marka düzenle</h1>
<br />

@using (Html.BeginForm("EditBrand", "AdminBrand", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.BrandId)
    @Html.Hidden("Path", (string)ViewBag.Path)
    @Html.Hidden("PathTo", (string)ViewBag.PathTo)


    @Html.Label("Marka adı")
    @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BrandName)
    <br />
    <br />
    @Html.Label("Marka resmi")
    <br />
    <img src="@ViewBag.BrandImage" width="400" height="200" />
    <br />
    <br />
    <input type="file" name="BrandImage" />
    <br />
    @Html.ValidationMessageFor(x => x.BrandImage)
    <br />
    @Html.Label("Marka banner resmi")
    <br />
    <img src="@ViewBag.BrandBannerImage" width="400" height="200" />
    <br />
    <br />
    <input type="file" name="BrandBannerImage" />
    <br />
    @Html.ValidationMessageFor(x => x.BrandBannerImage)
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>
}

