@model EntityLayer.Concrete.News

@{
    ViewData["Title"] = "EditNews";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Haber düzenle</h1>
<br />

@using (Html.BeginForm("EditNews", "AdminNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.NewsId)
    @Html.Hidden("Path", (string)ViewBag.Path)
    @Html.Label("Haber başlık")
    @Html.TextBoxFor(x => x.NewsTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NewsTitle)
    <br />
    <br />
    @Html.Label("Haber açıklama")
    @Html.TextAreaFor(x => x.NewsComment, 10, 5, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NewsComment)
    <br />
    <br />
    @Html.Label("Haber resim")
    <br />
    <img src="@ViewBag.NewsImage" width="400" height="200" />
    <br />
    <br />
    <input type="file" name="NewsImage" />
    <br />
    @Html.ValidationMessageFor(x => x.NewsImage)
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>
}
