@model EntityLayer.Concrete.News

@{
    ViewData["Title"] = "EditNews";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Haber düzenle</h1>
<br />

@using (Html.BeginForm("EditNews", "AdminNews", FormMethod.Post))
{
    @Html.Label("#")
    @Html.TextBoxFor(x => x.NewsId, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <br />
    @Html.Label("Haber başlık")
    @Html.TextBoxFor(x => x.NewsTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NewsTitle)
    <br />
    <br />
    @Html.Label("Haber açıklama")
    @Html.TextAreaFor(x => x.NewsComment, 10, 5, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NewsComment)
    <br />
    <br />

    @Html.Label("Haber resim")
    @Html.TextBoxFor(x => x.NewsImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NewsImage)
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>
}
