@model EntityLayer.Concrete.Product

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Ürün düzenle</h1>
<br />

@using (Html.BeginForm("EditProduct", "AdminProduct", FormMethod.Post))
{
    @Html.Label("#")
    @Html.TextBoxFor(x => x.ProductId, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <br />
    @Html.Label("Ürün adı")
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductName)
    <br />
    <br />
    @Html.Label("Ürün resim")
    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductImage)
    <br />
    <br />
    @Html.Label("Ürün açıklama")
    @Html.TextAreaFor(x => x.ProductComment, 10, 5, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductComment)
    <br />
    <br />
    @Html.Label("Trend")
    @Html.DropDownList("ProductTrend",
        new List<SelectListItem> {
            new SelectListItem {
               Text="True",
               Value="1",

            },
            new SelectListItem {
               Text="False",
               Value="0",
            },
        }, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.ProductTrend, new { @class = "form-control" })*@
    @Html.ValidationMessageFor(x => x.ProductTrend)
    <br />
    <br />
    @Html.Label("Marka")
    @Html.DropDownListFor(x => x.BrandId, (List<SelectListItem>)ViewBag.cb, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.BrandId, new { @class = "form-control" })*@
    @Html.ValidationMessageFor(x => x.BrandId)
    <br />
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })*@
    @Html.ValidationMessageFor(x => x.CategoryId)
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>
}
